:root {
  --color-font: #2F2F2F;
  --bg-color: #F4ECE1;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  color: var(--color-font);
}

nav {
  display: flex;
  align-items: center;
  justify-content:space-between;

  padding: .5rem 2vw;
}
nav > img {
  width: 4rem;
}

nav ul{
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  gap: 10%;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-font);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}
.search img {
  width: 1rem;
}
.search input {
  background: #FFF9F0;
  color: var(--color-font);
  border-style: none;
  padding: .6rem 2.2rem;
  border-radius: 2rem;

  font-family: 'Poppins';
  font-weight: 500;
}
.search > img {
  position: absolute;
  left: .7rem;
}
.search span {
  position: absolute;
  z-index: 1;
  display: flex;
  left: 12rem;
  align-items: center;
}
.search span h4 {
  position: relative;
  color: white;
  background: #EC2633;
  padding: .2rem .4rem;
  border-radius: 2rem;
  font-size: .5rem;
  top: -.5rem;
}

.app {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 3rem 2rem;
}
.part1 img {
  width: 70vw;
  max-width: 400px;
}

.part1 h3 {
  margin-top: 1rem;
  color: #909090;
  font-size: 1rem;
  font-weight: 400;
  max-width: 400px;
}

.part2 {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.part2 .playVideo {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.part2 a {
  color: var(--color-font);
  text-decoration: none;
  font-weight: 500;
}
.part2 > a {
  color: var(--bg-color);
  padding: .8rem 2rem;
  background-color: var(--color-font);
  border-radius: 2rem;
}
.part2 .playVideo img {
  width: 3.3rem;
}

.part3 {
  margin-top: 5rem;
}
.part3 h4 {
  margin-top: .5rem;
}
.part3 p {
  color: #909090;
  font-weight: 400;
}

@media (max-width: 1000px) {
  body {
    font-size: 87%;
    display: grid;
    justify-items: center;
  }
}